@{
    ViewBag.Title = "About";
}

@section featured { @*JUST TESTING OUT THE @SECTION AND HOW IT WORKS*@
    <section class="featured">
        <div class="hero-unit">
            <h2>@ViewBag.Message</h2>
            <p>This is a template to demonstrate the way to beautify the default MVC3 
                template using Twitter Bootstrap website. It is pretty simple and easy.</p>
            <p><a href="http://asp.net/mvc" class="btn btn-primary btn-large" 
              style="color: White;">To learn more about ASP.NET MVC visit &raquo;</a></p>
        </div>
    </section>
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="row-fluid">
    <div class="span4">
        <h2>About 1</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
            tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>About 2</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
            tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>About 3</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
            Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, 
            tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>
