@model DatabaseProject.Models.PostListModel

@{
    ViewBag.Title = "Public Posts";
}

@*@section featured {
    <section class="featured">
        <div class="hero-unit">
            <h2>@ViewBag.Message</h2>
            <p>This is a template to demonstrate the way to beautify the default MVC3 
                template using Twitter Bootstrap website. It is pretty simple and easy.</p>
            <p><a href="http://asp.net/mvc" class="btn btn-primary btn-large" 
              style="color: White;">To learn more about ASP.NET MVC visit &raquo;</a></p>
        </div>
    </section>
}*@

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <section class="item active">
        <div class="row">
            <div class="span6 offset2">
                <div class="hero-unit">
                    <h2>Welcome to the Public Post Viewer!</h2>
                    <p>Here is where you can view public posts even if you are not logged in.
                       While you're at it, please take a moment to rate any posts too!
                    </p>
                    <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-large" 
                        style="color: White;">Log in to see more posts! &raquo;</a></p>
                </div>
            </div>
        </div>
    </section>
    @foreach (var x in Model.posts)
    {
        <section class="item">
            <div class="row">
                <div class="span6 offset2">
                    <div class="hero-unit">
                        <h2>Post #@x.cid</h2>
                        <h3>@x.fname at @x.ptime</h3>
                        <p>@x.ctext</p>
                        <label class="radio inline">
                          <input type="radio" name="inlineRadio" value="-2">
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                        </label>
                        <label class="radio inline">
                          <input type="radio" name="inlineRadio" value="-1">
                          <i class="icon-star"></i>
                        </label>
                        <label class="radio inline">
                          <input type="radio" name="inlineRadio" value="0"> 0
                        </label>
                        <label class="radio inline">
                          <input type="radio" name="inlineRadio" value="1"> 
                          <i class="icon-star-empty"></i>
                        </label>
                        <label class="radio inline">
                          <input type="radio" name="inlineRadio" value="2">
                          <i class="icon-star-empty"></i>
                          <i class="icon-star-empty"></i>
                        </label>
                    </div>
                </div>
            </div>
        </section>
    }
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
        
@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="row-fluid">
    <div class="span4">
        <h2>About 1</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
            tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>About 2</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
            tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>About 3</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
            Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, 
            tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@
