@model DatabaseProject.Models.PostListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Content Home Page";
}

@section featured 
{
    <section class="featured">
        <div class="hero-unit">
            <h2>@ViewBag.Message</h2>
            <p>This is will be one of the "extra features" we will implement. The titles of the
            latest entered topics from people within the user's friends will be displayed here.</p>
            <p><a href="http://asp.net/mvc" class="btn btn-primary btn-large" 
              style="color: White;">To learn more about ASP.NET MVC visit &raquo;</a></p>
        </div>
    </section>
}

<div class="row">
    <div class="span2">
        <div class="tabbable tabs-left pull-left">
            <ul class="nav nav-tabs">
                <li>
                    <a href="@Url.Action("Index", "ContentItem", new { page = 0})" data-toggle="body"><i class="icon-book"></i>Read</a>
                </li>
                <li>
                    <a href="@Url.Action("Write","ContentItem")" data-toggle="body"><i class="icon-pencil"></i>Write</a>
                 </li>
                <li>
                    <a href="@Url.Action("Edit","ContentItem")" data-toggle="body">Edit</a>
                </li>
                <li>
                    <a href="@Url.Action("Search", "ContentItem")" data-toggle"body"><i class="icon-search"></i>Search</a>
                </li>
            </ul>
        </div> @*--End tabbable*@
    </div>@*--End span2*@
    <div class="span7">
        <div class="body pull-left">
            @RenderBody()
        </div> @*--End body*@
    </div> @*--End span6*@
</div>@*--End row*@