@model DatabaseProject.Models.PostListModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    int accordionNumber = 0;
}
@using System.Web.Mvc;
@using System.Text;
@functions 
{
    public int DeterminePreviousPage()
    {
        if((int)Session["currentPage"] == 0)
        {
            return  0;
        }
        else return (int)Session["currentPage"] - 1;
    }
    
    public int DetermineNextPage()
    {
        if((int)Session["currentPage"] == (int)Session["totalPages"] - 1) return (int)Session["currentPage"];
        else return (int)Session["currentPage"] + 1;
    }
}

<h2>Welcome, @Session["userName"]! You are user #@Session["userSessionID"]</h2>
<h5>Below are posts available for to read and rate</h5>
<div class="accordion" id="mainaccordion">
    @foreach (var x in Model.posts)
    {
        <div class="accordion-group">
            <div class="accordion-heading">
                 <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#mainaccordion" href="#@accordionNumber">
                    <i>Post #@x.cid by @x.fname at @x.ptime</i>
                 </a>
            </div>
            <div id="@accordionNumber" class="accordion-body collapse">
                <div class="accordion-inner">
                    @x.ctext <br />
                </div>
                @using (Html.BeginForm("Index", "ContentItem", new { id = x.cid}))
                {
                    <div class="well">
                        <div class="row">
                            <div class="span1">
                                <span class="label label-success">
                                    <i class="icon-thumbs-up"></i>
                                    <i class="icon-thumbs-up"></i>
                                <span>
                                @Html.RadioButtonFor(post => post.rating.rate, 2)
                            </div>
                            <div class="span1">
                                <span class="label label-success">
                                    <i class="icon-thumbs-up"></i>
                                <span>
                                @Html.RadioButtonFor(post => post.rating.rate, 1)
                            </div>
                            <div class="span1">
                                <span class="label">
                                    0
                                <span>
                                @Html.RadioButtonFor(post => post.rating.rate, 0)
                            </div>
                            <div class="span1">
                                <span class="label label-important">
                                    <i class="icon-thumbs-down"></i>
                                <span>
                                @Html.RadioButtonFor(post => post.rating.rate, -1)
                            </div>
                            <div class="span1">
                                <span class="label label-important">
                                    <i class="icon-thumbs-down"></i>
                                    <i class="icon-thumbs-down"></i>
                                <span>
                                @Html.RadioButtonFor(post => post.rating.rate, -2)
                            </div>
                            <div class="span1">
                                <button class="btn btn-small btn-primary" type="submit">
                                    <i class="icon-ok"></i>Rate!
                                </button>
                            </div>
                        </div>
                    </div>
                }
                @if (x.avg_rtg != int.MinValue)
                {
                <p><strong><i>Average rating for this post is @x.avg_rtg</i></strong></p>
                }
                else
                {
                <p><strong><i>There are no ratings for this post.</i></strong></p>
                }
            </div> @*--End accordion body*@
        </div>@*--End accordion group*@
        accordionNumber++;
    }
</div>
<div class="pagination">
  <ul>
    <li><a href="@Url.Action("Index", "ContentItem", new { page = DeterminePreviousPage()})">Prev</a></li>
    @for (int x = 0; x < (int)Session["totalPages"]; ++x)
    {   
        <li><a href="@Url.Action("Index", "ContentItem", new { page = x })">@(x+1)</a></li>
    }
    <li><a href="@Url.Action("Index", "ContentItem", new { page = DetermineNextPage()})">Next</a></li>
  </ul>
</div>
