@model DatabaseProject.Models.NewPost_UI_Data

@{
    ViewBag.Title = "Write";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@{
    List<SelectListItem> ftype_lst = new List<SelectListItem>();
    
    foreach(var x in Model.friendships)
    {
        ftype_lst.Add(new SelectListItem() { Text = x, Value = x, Selected = false });   
    }
    
    SelectList ftype = new SelectList(ftype_lst, "Value", "Text");
}

<h2>Write a post</h2>
@using (Html.BeginForm())
{   
    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.new_post.ctext)
                @Html.TextAreaFor(m => m.new_post.ctext)
            </li>
            <li>
                @Html.LabelFor(m => m.new_post.topic)
                @Html.TextBoxFor(m => m.new_post.topic)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.new_post.ctype)
                @Html.LabelFor(m => m.new_post.ctype, new { @class = "checkbox" })
            </li>
            <li>
                <b>Visibility</b>
                @Html.DropDownListFor(m => m.new_post.ftype, ftype)
            </li>
        </ol>
        
        <div class="btn-group">
            <button class="btn btn-primary btn-medium" type="submit">Submit</button>           
       </div>     
    </fieldset>
}
