@model DatabaseProject.Models.NewPostModel

@{
    ViewBag.Title = "Write";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<h2>Write a post</h2>
@using (Html.BeginForm())
{   
    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.ctext)
                @Html.TextAreaFor(m => m.ctext)
            </li>
            <li>
                @Html.LabelFor(m => m.topic)
                @Html.TextBoxFor(m => m.topic)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.ctype)
                @Html.LabelFor(m => m.ctype, new { @class = "checkbox" })
            </li>
        </ol>
        <button class="btn btn-primary btn-medium" type="submit">Submit</button>
    </fieldset>
}
